<section id="fh5co-hero" class="js-fullheight mainImage"  data-next="yes">
  <div class="fh5co-overlay"></div>
  <div class="container">
    <div class="fh5co-intro js-fullheight">
      <div class="fh5co-intro-text">
        <!--
                        INFO:
                        Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                        Example:
                        <div class="fh5co-right-position">
                    -->
        <div class="fh5co-center-position">
          <h2 class="animate-box">Giphy Search App</h2>
          <p class="animate-box"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline popup-vimeo btn-video"><i class="icon-play2"></i> Watch video</a> <a href="http://freehtml5.co" target="_blank" class="btn btn-primary">Visit FREEHTML5.co</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="fh5co-learn-more fh5co-center-position animate-box">
    <a routerLink="/giphy" routerLinkActive="active" class="scroll-btn">
      <span class="arrow"><i class="icon-chevron-down"></i></span>
    </a>
  </div>
</section>
<!-- END #fh5co-hero -->

<!-- Start of Search App Section -->

<a routerLink="/giphy" class="theGif">
  <section id="fh5co-projects">
    <div class="container">
      <div class="row row-bottom-padded-md">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class="fh5co-lead animate-box">Our Products</h2>
          <p class="fh5co-sub-lead animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_1.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_1.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>Beautiful Sunrise</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_2.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_2.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>Cute Little Dog</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_3.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_3.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>A Wooden Bridge</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_4.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_4.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>Puppy & I in the Farm</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_5.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_5.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>A Big Wave of the Blue Sea</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xxs-12 animate-box">
          <a href="images/img_6.jpg" class="fh5co-project-item image-popup">
            <img src="images/img_6.jpg" alt="Image" class="img-responsive">
            <div class="fh5co-text">
              <h2>Foggy Pine Trees</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</a>
<!-- End of Search App Section -->
